@import url('https://fonts.googleapis.com/css?family=Nova+Oval');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

page-home {

          .content {
                    background: #00c6ff; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    color: #fff;

                    .slideOne{

                              h2 {
                                        font-family: 'Nova Mono', monospace;
                                        color: #283593;

                                        span.hint {
                                                  font-family: 'Nova Oval', cursive;
                                                  color: #fff;
                                        }
                              }

                              p {
                              font-family: 'Nova Mono', monospace; 
                              }

                              a.action {
                                        font-family: 'Nova Mono', monospace;
                              }

                              p.swipity {
                                        position: absolute;
                                        bottom: 0;
                                        text-align: center;
                                        font-family: 'Nova Oval', cursive;
                                        color: #fff;
                              }

                    }

                    .slideTwo {

                              h2 {
                                        font-family: 'Nova Mono', monospace;
                              }

                              ion-item {
                                        background-color: transparent;
                                        
                                        ion-label {
                                                  font-family: 'Nova Oval', cursive;
                                                  color: #fff;
                                        }

                                        ion-input {
                                                  font-family: 'Nova Oval', cursive;
                                                  border-bottom: 3px solid #fff;
                                        }
                              }
                    }

                    .slideThree {

                              h2 {
                                        font-family: 'Nova Mono', monospace;
                              }

                              ion-item {
                                        background-color: transparent;
                                        
                                        ion-label {
                                                  font-family: 'Nova Oval', cursive;
                                                  color: #fff;
                                        }

                                        ion-input {
                                                  font-family: 'Nova Oval', cursive;
                                                  border-bottom: 3px solid #fff;
                                        }
                              }
                    }

          }

}
