@import url('https://fonts.googleapis.com/css?family=Nova+Oval');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

page-feed {

          .content {
                    background: #00c6ff;
                    color: #fff;

                    h2 {
                              font-family: 'Nova Mono', monospace;
                    }

                    .center-align {
                              text-align: center
                    }

                    .card-background-page {

                              ion-card {
                              position: relative;
                              text-align: center;
                              background: transparent;
                              }

                    }
          }

}
